# virtualenv --distribute --system-site-packages venv && source venv/bin/activate
# pip install -U -r ~/.yadr-custom/pip_dev_requirements.txt
distribute
nose
yanc
xtraceback
nose-cov
pinocchio
mock
pygments
Pep8
Pyflakes
pip-tools
